/* Remove Gif Picker and Send a gift */
[aria-label="Open GIF picker"], [aria-label="Send a gift"] {
    display: none;
  } 

  
/* Scroll Bar Fix */
#app-mount :not(:hover).scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }
  .scroller-2FKFPG::-webkit-scrollbar,
  .scrollbarGhostHairline-1mSOM1::-webkit-scrollbar {
    width: 0px !important;
  }
  /* Scroll Bar Fix */  
  
  .sidebarRegion-VFTUkN, .sidebarRegionScroller-3MXcoP{
    justify-content: unset !important;
  
  }
  