/* Remove Gif Picker and Send a gift */
[aria-label="Open GIF picker"], [aria-label="Send a gift"] {
    display: none;
}

/* Remove Scroll Bar */
#app-mount :not(:hover).scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}
.scroller-2FKFPG::-webkit-scrollbar,
.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar {
  width: 0px !important;
}

/* Forces Server/Settings Sidebar Left */
.sidebarRegion-VFTUkN, .sidebarRegionScroller-3MXcoP{
  justify-content: unset !important;
}

/* Theme Info Above BD Info */
.info-1VyQPT::Before{
  font-size: 12px;
  color: #72767D;
  content: var(--Theme-Info);
}
.info-1VyQPT::After{
  content: "";
  font-size: 12px;
  color: #72767D;
}
.userPopout-3XzG_A .wrapper-3t9DeA::after{
  z-index: -1;
}
.sidebar-CFHs9e{
  width: auto;
  position: left !important;
  padding-right: -90px;
}

/* Forces WinButtons to act the same */
.winButton-iRh8-Z{
  color: white;
  opacity: .5;
}
.winButton-iRh8-Z:hover{
transition: 0.3s ease-in-out;
opacity: 1;
}

.form-2fGMdU{
background-color: none;
}

.winButtonClose-1HsbF-:hover{
  background-color: var(--background-modifier-hover);
  color: var(--interactive-hover);
}