/* Compact Search Bar */
.searchBar-3dMhjb{
  /* Orginal Width 144px */
  transition: .55s ease-in-out;
  width: 25px;
  background-color: var(--background-secondary);
}
.searchBar-3dMhjb:hover{
  width: 144px;
  transition: .55s ease-in-out;
}

/* Compact Search Bar */
