/* Forces WinButtons to look better */
.winButton-iRh8-Z{
    color: cyan;
    animation: rainbow 3s infinite linear;
}
.winButtonClose-1HsbF-:hover{
    background-color: var(--background-modifier-hover);
    color: var(--interactive-hover);
}
/* Forces WinButtons to look better */
