/* Forces WinButtons to look better */
.winButton-iRh8-Z{
    color: cyan;
    animation: rainbow 3s infinite linear;
}
.winButtonClose-1HsbF-:hover{
    background-color: var(--background-modifier-hover);
    color: var(--interactive-hover);
}
/* Forces WinButtons to look better */

/* Call Avatar Border */
.callAvatarBorder-uWp8Ga.voice-3bPYC-.speaking-B2MXPi{
  color: cyan;
  animation: rainbow 3s infinite linear;
}

/* Call Avatar Border */
.lookFilled-1Gx00P.colorRed-1TFJan,.callAvatarBorder-uWp8Ga.video-3SrWSI.speaking-B2MXPi{
  animation: rainbow 3s infinite linear;
}
