
[layer-id="user-settings"] .userSettingsAccount-2eMFVR~ :last-child:after{
  margin-top: 10px;
  margin-bottom: -3px;
  padding-top: 10px;
  padding-left: 10px;
  left: 20%;
  margin-left: -5px;
  position: absolute;
  display: block;
  background: linear-gradient(to top, red, violet, indigo, blue, green, yellow, orange, red);
  border: 1px solid var(--Main-Colour);
  border-radius: 5px;
  content: var(--ChangelogSize) var(--Theme-Variant)", "var(--Update-Text);
  text-align: center;
  animation: UploaderBG 10s infinite linear;
  z-index: 9997;
  color: var(--Main-Colour);
  width: 50%;
  -webkit-mask: var(--Changelog);
  -webkit-mask-repeat: no-repeat;
  background-size: 200% 200%!important;
}

[layer-id="user-settings"] .userSettingsAccount-2eMFVR:after{
  content:var(--Theme-Variant)", "var(--Update-Text);
  color: var(--Main-Colour);
}

.native-toolbar .titlebar:after {
  content: ", " var(--Theme-Variant) ", " var(--Update-Text);
  position: absolute;
  left: 5px;
  bottom: 3px;
  color: Var(--Main-Colour) !important;
  font-family: "Discord";
}


.wordmark-2iDDfm:after {
  content: ", "  var(--Theme-Variant) ", " var(--Update-Text);
  color: Var(--Main-Colour) !important;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  width: 4000px;
  top: 5px;
  padding-left: 3px;
  font-family: "Discord";
}

.typeMacOS-3EmCyP:after {
  content: var(--Theme-Variant) ", " var(--Update-Text);
  color: Var(--Main-Colour) !important;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  width: 4000px;
  top: 1px;
  padding-left: 125%;
  font-family: "Discord";
}

html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.typeWindows-1za-n7.titleBar-AC4pGV.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3 > div.wordmark-2iDDfm:after {
	content:  ", "  var(--Theme-Variant) ", " var(--Update-Text) !important;
	display: inline !important;
	position: absolute !important;
	top: unset !important;
	left: unset !important;
	bottom: 5px !important;
	right: unset !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	visibility: visible !important;
	transform: unset !important;
	animation: unset !important;
}

html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div.layer-3QrUeG + div.layer-3QrUeG > div > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.scrollerWrap-2lJEkd.scrollerThemed-2oenus.themeGhostHairline-DBD-2d.scrollerFade-1Ijw5y > div.scroller-2FKFPG.sidebarRegionScroller-3MXcoP > div.sidebar-CFHs9e > div.side-8zPYf6 > span#bd-settings-sidebar:after {
	content: var(--Theme-Variant) " by " !important;
	font-size: 12px !important;
	font-weight: 600 !important;
	color: var(--Secondary-Main-Colour) !important;
	display: inline !important;
	opacity: 1 !important;
	padding: 2px 10px !important;
	margin: 0 !important;
	cursor: default !important;
	visibility: visible !important;
	position: relative !important;
	top: 0 !important;
	left: -20px !important;
	bottom: 0 !important;
	right: 0 !important;
	transform: unset !important;
	animation: unset !important;
}

.socialLinks-3jqNFy:after {
	content: var(--Theme-Variant) " by NFLD99" !important;
	font-size: 12px !important;
	font-weight: 600 !important;
	color: var(--Secondary-Main-Colour) !important;
}