/*
#app-mount::before {
    content: "I'm sorry but this theme will stop working by 03/05. It has been discontinued. Please use another theme";
    position: absolute;
    top: 5px;
    left: calc(50% - 250px);
    width: 500px;
    background-color: rgba(204, 0, 0,.35);
    border: 1px solid rgba(0,0,0,.3);
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    z-index: 500000;
} 
*/