/* Thank you Tropical you're Bae */

.userPopout-3XzG_A {
	--user-popout-position: center;
}


/* Deleox */
[user_by_bdfdb*="304122410783866883"],
[aria-label*="304122410783866883"] {
  --user-background: url('https://media.giphy.com/media/MXQnyEQwBJ6eTj90L5/source.gif');
  color: transparent;
}
/* Deleox */

/* Bunnings Snags */
[user_by_bdfdb*="473038056845344770"],
[aria-label*="473038056845344770"] {
  --user-background: url('https://media.giphy.com/media/MXQnyEQwBJ6eTj90L5/source.gif');
  color: transparent;
}
/* Bunnings Snags */
